@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.container{
    background-image: url(vibgyor.jpg);
    height: 5000px;
    
}

/* navbar */

body {
    margin: 0;
    font-family:"Pacifico", sans-serif ;
  }
  
  .topnav {
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    opacity: .8;
  }

  #photo {
    height: 70px;
    width:70px;
    margin-right: 700px;
  }
  

  .topnav a {
    display: flex;
    padding-left: -400px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color:  whitesmoke;
    color: pink;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .intro{
      font-family: "Pacifico", sans-serif;
     position: absolute;
      top: 155px;
      left: 25px;
      font-size:28px;


  }

  .intro1{
    font-family: "Pacifico", sans-serif;
    position: absolute;
    top: 79px;
    left: 3px;
    text-align: center;

  }

  
      
      
  

  button{
      font-family: "Pacifico", sans-serif;
      position: absolute;
      top: 300px;
      left: 17px;
  }


  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    position:absolute;
    top:250px;
    
    
  
  }
  
  .grid-container > div {
    
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  }

  .box1{
    height: 431px;
    width: 652px;
  }

  .box2{
    height: 431px;
    width: 652px;
    color:darkviolet;
    background-color: rgb(227, 192, 228);
  }

     .box1 img{
      height: 431px;
    width: 652px;

     }
    